<script src="/assets/js/themeToggle.js"></script>
<script src="/assets/js/prism.js"></script>
<script src="/assets/js/collapse.js"></script>
<script>
    function copyText(input) {
        const text = document.createElement('textarea');
        document.body.appendChild(text);
        text.value = "https://developer.legaltech.wales" + input
        text.select();
        document.execCommand("copy");
        document.body.removeChild(text);
    }
</script>
<script>
    const articleNames = [...document.querySelector("#approach-article-titles").children],
        hideAll = () => articleNames.forEach(articleName => document.getElementById(articleName.value).classList.add("d-none")),
        show = id => document.getElementById(id).classList.remove("d-none")

    articleNames.forEach(articleName => {
        const id = articleName.value, select_article = document.getElementById(`select_article_${id}`)

        select_article.addEventListener("click", () => {
            hideAll()
            show(id)
        })
    })
</script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0da8f5e23ca943e3baf3ebad1d8db55d"}'></script><!-- End Cloudflare Web Analytics -->