<script src="/assets/js/themeToggle.js"></script>
<script src="/assets/js/prism.js"></script>
<script src="/assets/js/collapse.js"></script>
<script>
    function copyText(input) {
        const text = document.createElement('textarea');
        document.body.appendChild(text);
        text.value = "https://developer.legaltech.wales" + input
        text.select();
        document.execCommand("copy");
        document.body.removeChild(text);
    }
</script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0da8f5e23ca943e3baf3ebad1d8db55d"}'></script><!-- End Cloudflare Web Analytics -->