<header class="px-4 py-5 text-center">
    <div class="header-content">
        <div class="d-block mx-auto">
            <img alt="Swansea University" class="mb-4" height="65" src="/assets/images/su-logo-blue-2x.png"
                 width="126">
            <img alt="Legal Innovation Lab Wales" class="mb-4" height="65" src="/assets/images/lilw-logo-blue.png"
                 width="102">
        </div>
        <h3>Legal Innovation Lab Wales</h3>
        <h1 class="display-5 fw-bold">Developer Page</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Welcome to the Legal Innovation Lab developer page. Here you'll find some links and resources that
                should make building things with the lab loads easier.
            </p>
            <div class="section-links">
                <a href="#documents">Documents</a><span> | </span><a href="#projects">Projects</a><span> | </span><a
                    href="#blog">Blog</a> | </span><a href="#approach">Approach</a>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://legaltech.wales">
                    <i class="fas fa-home"></i>
                </a>
                <a class="mx-2" href="mailto:{{ site.email}}">
                    <i class="fas fa-envelope"></i>
                </a>
                <a class="mx-2" href="https://twitter.com/{{ site.twitter }}}">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="mx-2" href="https://www.linkedin.com/company/{{ site.linkedin }}">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="mx-2" href="https://github.com/{{ site.github }}">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</header>