<header class="px-4 py-5 text-center">
    <div class="header-content">
        <div class="d-block mx-auto">
            <img alt="Swansea University" class="mb-4" height="65" src="/assets/images/su-logo-blue-2x.png"
                 width="126">
            <img alt="Legal Innovation Lab Wales" class="mb-4" height="65" src="/assets/images/lilw-logo-blue.png"
                 width="102">
        </div>
        <h3>Legal Innovation Lab Wales</h3>
        <h1 class="display-5 fw-bold">Developer Page</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Welcome to the Legal Innovation Lab developer page. Here you'll find information about projects we've
                worked on, information about our approach to development and our developer blog. <br/> If you have a
                project idea (or thoughts or questions), please get in touch as we'd love to talk!
            </p>
            <div class="job-banner">
                <h3>We're hiring a Software Developer!</h3>
                <p>
                    We're looking to hire a talented and energetic Software Developer, who is able to leverage their
                    experience and creativity as part of the team to deliver exciting, innovative projects.
                </p>
                <a class="read-more" href="/blog/phil/2021/software-developer-v3">Read More</a>
                <a class="apply" target="_blank" href="https://www.swansea.ac.uk/personnel/jobs/apply/?jobId=QHUFK026203F3VBQB7VLO8NXD-133252&langCode=en_GB">Apply Now</a>
            </div>
            <div class="section-links">

                <a href="/#projects">Projects</a>
                <span> |</span>
                <a href="/#blog">Blog</a>
                <span> |</span>
                <a href="/#approach">Approach</a>
                <span> |</span>
                <a href="/#documents">Documents</a>

            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://legaltech.wales">
                    <i class="fas fa-home"></i>
                </a>
                <a class="mx-2" href="mailto:{{ site.email}}">
                    <i class="fas fa-envelope"></i>
                </a>
                <a class="mx-2" href="https://twitter.com/{{ site.twitter }}}">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="mx-2" href="https://www.linkedin.com/company/{{ site.linkedin }}">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="mx-2" href="https://github.com/{{ site.github }}">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</header>