<footer>
    <div class="links">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-links-info">
                        <ul class="footer-links-list">
                            <li class="footer-links-list-item"><a href="https://www.swansea.ac.uk/contact-us/">Contact
                                Us</a></li>
                            <li class="footer-links-list-item"><a
                                    href="https://www.swansea.ac.uk/jobs-at-swansea/">Jobs</a></li>
                            <li class="footer-links-list-item"><a
                                    href="https://www.swansea.ac.uk/the-university/colleges/">Colleges</a></li>
                            <li class="footer-links-list-item"><a
                                    href="https://www.swansea.ac.uk/press-office/">Press</a></li>
                            <li class="footer-links-list-item"><a
                                    href="https://www.swansea.ac.uk/about-us/safety-and-security/health-and-safety/">Health
                                &amp; Safety</a></li>
                            <li class="footer-links-list-item"><a
                                    href="https://www.swansea.ac.uk/disclaimer-and-copyright/">Disclaimer &amp;
                                Copyright</a></li>
                            <li class="footer-links-list-item"><a href="https://www.swansea.ac.uk/privacyandcookies/">Privacy
                                &amp; Cookies</a></li>
                            <li class="footer-links-list-item"><a
                                    href="https://www.swansea.ac.uk/media/Modern-Slavery-Statement.pdf">Modern Slavery
                                Statement</a></li>
                            <li class="footer-links-list-item"><a
                                    href="https://www.swansea.ac.uk/the-university/accessibility/swansea-ac-uk/">Accessibility
                                Statement</a></li>
                        </ul>
                        <ul class="footer-info-list">
                            <li class="footer-info-list-item">Swansea University is a registered charity, No. 1138342
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer-logos.html %}
</footer>