@import "variables.scss";

/* *** General CSS *** */

html {
  scroll-behavior: smooth;
}

header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/130875-blue-polygon-background.jpg");
    background-size: cover;
    filter: opacity(0.85);
  }

  .header-content {
    position: relative;

    .job-banner {
      border-radius: 1.5rem;
      padding: 1rem 6rem;
      margin: 1rem -4rem;
      //background: $red-2-card-background;
      background: $phil-grad;
      color: $red-2-card-text;

      a {
        font-weight: 700;
        text-decoration: none;
        color: $light-gray;
        transition: all 0.3s ease-in-out;
        padding: 0.6rem;
        border-radius: 0.6rem;
        box-shadow: 0 4px 6px $medium-transparent;

        &.apply {
          background: $red-2-card-background;
          //background: $phil-grad;
        }
        &.read-more {
          background: $sp-background-3;
        }
        &:hover {
          transform: scale(1.05, 1.05);
          box-shadow: none;
        }
      }
    }

    .section-links {
      display:inline-block;
      border-radius: 1.5rem;
      padding: 0.5rem 1rem;
      background: $light-transparent;

      a {
        text-decoration: none;
        color: $white;
        font-weight: 700;

        &:hover {
          color: $dark-gray;

        }
      }

    }

    .social {
      margin-top: 1rem;

      a {
        text-align: center;
        height: 3rem;
        width: 3rem;
        background: #ffffffe6;
        box-shadow: 6px 4px 8px 0 #0006;
        border-radius: 100%;
        line-height: 3rem;
        color: $dark-gray;

        &:hover {
          color: $ink;
          background: rgba(255, 255, 255, 1);
          box-shadow: none;
          transition: all 0.3s;
        }
      }
    }
  }
}

main {
  .title {
    text-align: center;
  }

  h2, h3 {
    font-weight: 700;

    .link-spacer {
      margin-left: 45px;
    }

    button {
      visibility: hidden;
      border: none;
    }

    &:hover {
      button {
        visibility: visible;
        color: $dark-gray;
        background-color: inherit;
      }
    }
  }

  .hidden {
    visibility: hidden;
  }

  .card {
    padding: 1rem;
    text-align: center;
    border: none;
  }

  section.row {
    margin: 0;
  }

  @import "main/documents.scss";

  @import "main/projects.scss";

  @import "main/blog.scss";

  @import "main/approach.scss";


}

.hidden {
  display: none;
}

pre {
  max-height: 36rem;
}

.hideable {
  max-height: 0;
  overflow: hidden;
  transition: all .5s cubic-bezier(0, 1, 0, 1);

  &.reveal {
    max-height: 20rem;
    transition: all .5s ease-in-out;
  }
}

/* *** FOOTER *** */

footer {
  background-color: $white;
  padding-bottom: 0;

  /* Main Footer */

  .links {
    margin: 0;
    padding: 60px 0;
    height: auto;
    background-color: $navy;
    background-image: url("../images/waves-bg.svg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 5% 15%;
    color: $white;
    text-align: left;
    position: relative;

    .inner {
      margin: 0 auto;
      position: relative;
    }

    ul {
      margin: 0;
      display: block;

      li {
        display: inline-block;
        margin: 0 5px 0 0;
        padding: 0;
        background: none;

        a {
          color: $white;
          transition: .2s;
          position: relative;
          top: 0;

          &:hover {
            text-decoration: none;
            top: -2px;
            /*color: #b3b3b3;*/
            color: $white-hover;
          }

          &:visited {
            color: $white;
          }
        }
      }
    }

    .footer-links-list, .footer-info-list {
      margin-bottom: 20px;

      li::after {
        content: "|";
        margin-left: 5px;
      }

      li:last-child::after {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 1px;
      display: block;
    }
  }

  .logos {
    padding: 20px 0;
    background-color: $white;

    .col {
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      img {
        /*float: right;*/
        max-width: 160px;

        &.erdf {
          @media (min-width: $breakpoint-md) {
            margin-left: 48px;
          }
        }
      }
    }
  }
}
