/* *** Variables *** */
/* University Colors */
/* Page Colours */
.navbar > .container, .navbar > .container-fluid {
  justify-content: flex-start;
}

/* *** General CSS *** */
html {
  scroll-behavior: smooth;
}

header {
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/130875-blue-polygon-background.jpg");
  background-size: cover;
  filter: opacity(0.85);
}
header .header-content {
  position: relative;
}
header .header-content .job-banner {
  border-radius: 1.5rem;
  padding: 1rem 6rem;
  margin: 1rem -4rem;
  background: linear-gradient(to right top, #E6C229 -20%, #F17105, #D11149, #6610F2, #1A8FE3 140%);
  color: #fcfcfc;
}
header .header-content .job-banner a {
  font-weight: 700;
  text-decoration: none;
  color: #fcfcfc;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem;
  border-radius: 0.6rem;
  box-shadow: 0 4px 6px #0000004d;
}
header .header-content .job-banner a.apply {
  background: linear-gradient(165deg, #8A2387, #E8203B, #F27121);
}
header .header-content .job-banner a.read-more {
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
header .header-content .job-banner a:hover {
  transform: scale(1.05, 1.05);
  box-shadow: none;
}
header .header-content .section-links {
  display: inline-block;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  background: #0000002a;
}
header .header-content .section-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
header .header-content .section-links a:hover {
  color: #495087;
}
header .header-content .social {
  margin-top: 1rem;
}
header .header-content .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: #ffffffe6;
  box-shadow: 6px 4px 8px 0 #0006;
  border-radius: 100%;
  line-height: 3rem;
  color: #495087;
}
header .header-content .social a:hover {
  color: #212529;
  background: white;
  box-shadow: none;
  transition: all 0.3s;
}

main .title {
  text-align: center;
}
main h2, main h3 {
  font-weight: 700;
}
main h2 .link-spacer, main h3 .link-spacer {
  margin-left: 45px;
}
main h2 button, main h3 button {
  visibility: hidden;
  border: none;
}
main h2:hover button, main h3:hover button {
  visibility: visible;
  color: #495087;
  background-color: inherit;
}
main .hidden {
  visibility: hidden;
}
main .card {
  padding: 1rem;
  text-align: center;
  border: none;
}
main section.row {
  margin: 0;
}
main #documents .card-row {
  max-width: 600px;
}
@media (min-width: 1200px) {
  main #documents .card-row {
    max-width: 900px;
  }
}
main #documents .card-row .col {
  max-width: 300px;
}
@media (max-width: 768px) {
  main #documents .card-row .col {
    margin-left: auto;
    margin-right: auto;
  }
}
main #documents .card-row .col a {
  text-decoration: none;
}
main #documents .card-row .col:nth-child(1) .card {
  background: #d6eaf8;
  color: #1b4f72;
}
main #documents .card-row .col:nth-child(1) .card:hover {
  background: linear-gradient(35deg, #d6eaf8, #aed6f1);
}
main #documents .card-row .col:nth-child(2) .card {
  background: #fcf3cf;
  color: #7d6608;
}
main #documents .card-row .col:nth-child(2) .card:hover {
  background: linear-gradient(35deg, #fcf3cf, #f9e79f);
}
main #documents .card-row .col:nth-child(3) .card {
  background: #f6ddcc;
  color: #6e2c00;
}
main #documents .card-row .col:nth-child(3) .card:hover {
  background: linear-gradient(35deg, #f6ddcc, #edbb99);
}
main #documents .card-row .col:nth-child(4) .card {
  background: #ebdef0;
  color: #512e5f;
}
main #documents .card-row .col:nth-child(4) .card:hover {
  background: linear-gradient(35deg, #ebdef0, #d7bde2);
}
main #documents .card-row .col:nth-child(5) .card {
  background: #d5f5e3;
  color: #186a3b;
}
main #documents .card-row .col:nth-child(5) .card:hover {
  background: linear-gradient(35deg, #d5f5e3, #abebc6);
}
main #documents .card-row .col:nth-child(6) .card {
  background: #f2d7d5;
  color: #7b241c;
}
main #documents .card-row .col:nth-child(6) .card:hover {
  background: linear-gradient(35deg, #f2d7d5, #e6b0aa);
}
main #projects {
  color: #ffffff;
  background: linear-gradient(100deg, #210047, #242F60, #020758);
}
main #projects .card-row {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
main #projects .card-row .col {
  max-width: 70rem;
}
main #projects .card-row .col .card {
  color: #212529;
  padding: 0;
  z-index: 1;
}
main #projects .card-row .col .card .header {
  padding: 1rem;
}
main #projects .card-row .col .card .header img {
  max-width: 10rem;
}
main #projects .card-row .col .card .header h4 {
  margin-top: 1rem;
}
main #projects .card-row .col .card .body {
  margin-top: auto;
  padding: 1rem;
}
main #projects .card-row .col .card .body .btn {
  width: 160px;
  margin: 0.2rem auto;
  font-weight: 700;
}
main #projects .card-row .col .card .body .btn.status {
  color: #fff;
}
main #projects .card-row .col .card .body .btn.status.released {
  background: #378137;
}
main #projects .card-row .col .card .body .btn.status.released:hover {
  background: linear-gradient(100deg, #439D43, #70C270);
}
main #projects .card-row .col .card .body .btn.status.demo {
  background: #242F60;
}
main #projects .card-row .col .card .body .btn.status.demo:hover {
  background: linear-gradient(100deg, #3E50A3, #4E62BC);
}
main #projects .card-row .col .card .body .btn.status.development {
  background: #F2A53F;
}
main #projects .card-row .col .card .body .btn.status.planning {
  background: #CAD401;
}
main #projects .card-row .col .card .body .btn.repo {
  background: #24292e;
  color: #ffffff;
}
main #projects .card-row .col .card .body .btn.repo:hover {
  background: linear-gradient(100deg, #495087, #242F60);
}
main #projects .card-row .col #sp .header {
  position: relative;
  background: linear-gradient(125deg, #d6eaf8 10%, #aed6f1, #495087 120%);
}
main #projects .card-row .col #sp .header::before {
  background: linear-gradient(125deg, #1b4f72 -20%, #aed6f1, #85c1e9 110%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 100%, 0 0, 20% 0, 20% 100%, 40% 100%, 40% 0, 60% 0, 60% 100%, 80% 100%, 80% 0, 100% 0, 100% 100%, 100% 50%, 0 50%);
}
main #projects .card-row .col #sp .header-content {
  position: relative;
  max-width: 50em;
  margin: 0 auto;
  z-index: 3;
}
main #projects .card-row .col #ij .header {
  background: #252331;
  color: #ffffff;
}
main #projects .card-row .col #ij .header img {
  background: #f4e311;
  border-radius: 2rem;
  padding: 0.8rem;
}
main #projects .card-row .col #spot .header {
  position: relative;
  background: #931837;
  color: #ffffff;
  border: 0.6rem solid #931837;
}
main #projects .card-row .col #spot .header::before {
  border-radius: 2rem;
  background: #b05b72;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(70% at 5% 80%);
}
main #projects .card-row .col #spot .header .header-content {
  position: relative;
  z-index: 3;
}
main #projects .card-row .col #spot .header .header-content .image-container {
  display: flex;
  align-items: center;
  height: 160px;
  width: 160px;
  background: #ffffff;
  border-radius: 10rem;
  margin-left: auto;
  margin-right: auto;
}
main #projects .card-row .col #spot .header .header-content .image-container img {
  margin-top: -10px;
}
main #projects .card-row .col #shld .header {
  position: relative;
  background: #23909b;
  color: #242b47;
  border: 0.6rem solid #23909b;
}
main #projects .card-row .col #shld .header::before {
  border-radius: 2rem;
  background: #5fbeb8;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(200% at -75% 175%);
}
main #projects .card-row .col #shld .header .header-content {
  position: relative;
  z-index: 3;
}
main #projects .card-row .col #shld .header .header-content .image-container {
  display: flex;
  align-items: center;
  height: 160px;
  width: 160px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  clip-path: polygon(1% 1%, 99% 1%, 99% 52%, 98% 59%, 96% 65%, 93% 70%, 89% 75%, 84% 80%, 79% 84%, 73% 88%, 66% 92%, 58% 96%, 50% 99%, 42% 96%, 34% 92%, 27% 88%, 21% 84%, 16% 80%, 11% 75%, 7% 70%, 4% 65%, 2% 59%, 1% 53%);
}
main #projects .card-row .col #shld .header .header-content .image-container img {
  margin-top: -30px;
}
main #projects .card-row .col #ad .header {
  background-color: #6D5CE7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.39'%3E%3Cpath fill='%23b669d3' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23cd77bb' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23e086a3' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f1958b' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffa470' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffb367' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffc25d' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffd151' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ffe042' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffee2e' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: right;
}
main #projects .card-row .col #ed .header {
  position: relative;
  background-color: transparent;
  color: #ffffff;
}
main #projects .card-row .col #ed .header::before {
  background: linear-gradient(125deg, #212529, #495087, #242b47);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 0) {
  main #projects .card-row .col #ed .header::before {
    clip-path: circle(210% at 50% -100vw);
  }
}
@media (min-width: 576px) {
  main #projects .card-row .col #ed .header::before {
    clip-path: circle(310% at 50% -185vw);
  }
}
@media (min-width: 768px) {
  main #projects .card-row .col #ed .header::before {
    clip-path: circle(360% at 50% -225vw);
  }
}
@media (min-width: 992px) {
  main #projects .card-row .col #ed .header::before {
    clip-path: circle(210% at 50% -220%);
  }
}
@media (min-width: 1200px) {
  main #projects .card-row .col #ed .header::before {
    height: 150%;
    clip-path: circle(260% at 50% -300%);
  }
}
@media (min-width: 1400px) {
  main #projects .card-row .col #ed .header::before {
    clip-path: circle(260% at 50% -300%);
  }
}
main #projects .card-row .col #ed .header .header-content {
  position: relative;
  max-width: 50em;
  margin: 0 auto;
  z-index: 3;
}
main #blog .card-row .col {
  width: 320px;
}
@media (max-width: 768px) {
  main #blog .card-row .col {
    margin-left: auto;
    margin-right: auto;
  }
}
main #blog .card-row .col a {
  text-decoration: none;
}
main #blog .card-row .col .card img {
  display: block;
  margin: 0 auto;
}
main #blog .card-row .col .card img.author {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
}
@media (min-width: 992px) {
  main #blog .card-row .col .card img.author {
    height: 2.6rem;
    width: 2.6rem;
  }
}
main #blog .card-row .col .card h5 {
  margin-bottom: 0;
  font-weight: 600;
}
main #blog .card-row .col .card .bottom-text {
  margin-top: auto;
}
main #blog .card-row .col .card.blue-card {
  background: #d6eaf8;
  color: #1b4f72;
}
main #blog .card-row .col .card.blue-card:hover {
  background: linear-gradient(35deg, #d6eaf8, #aed6f1);
}
main #blog .card-row .col .card.blue-dark-card {
  background: #210047;
  color: #d6eaf8;
}
main #blog .card-row .col .card.blue-dark-card:hover {
  background: linear-gradient(100deg, #242F60, #210047);
}
main #blog .card-row .col .card.yellow-card {
  background: #fcf3cf;
  color: #7d6608;
}
main #blog .card-row .col .card.yellow-card:hover {
  background: linear-gradient(35deg, #fcf3cf, #f9e79f);
}
main #blog .card-row .col .card.orange-card {
  background: #f6ddcc;
  color: #6e2c00;
}
main #blog .card-row .col .card.orange-card:hover {
  background: linear-gradient(35deg, #f6ddcc, #edbb99);
}
main #blog .card-row .col .card.purple-card {
  background: #ebdef0;
  color: #512e5f;
}
main #blog .card-row .col .card.purple-card:hover {
  background: linear-gradient(35deg, #ebdef0, #d7bde2);
}
main #blog .card-row .col .card.green-card {
  background: #d0ece7;
  color: #0b5345;
}
main #blog .card-row .col .card.green-card:hover {
  background: linear-gradient(35deg, #d0ece7, #a2d9ce);
}
main #blog .card-row .col .card.green-2-card {
  background: #d5f5e3;
  color: #186a3b;
}
main #blog .card-row .col .card.green-2-card:hover {
  background: linear-gradient(35deg, #d5f5e3, #abebc6);
}
main #blog .card-row .col .card.red-card {
  background: #f2d7d5;
  color: #7b241c;
}
main #blog .card-row .col .card.red-card:hover {
  background: linear-gradient(35deg, #f2d7d5, #e6b0aa);
}
main #blog .card-row .col .card.red-2-card {
  background: linear-gradient(165deg, #8A2387, #E8203B, #F27121);
  color: #fcfcfc;
}
main #blog .card-row .col .card.red-2-card:hover {
  background: #F27121;
}
main #approach {
  color: #ffffff;
  background: linear-gradient(100deg, #0e182a, #210047);
}
main #approach button {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background: none;
  border: none;
}
main #approach button:hover {
  text-decoration: underline;
}
main #approach article {
  max-width: 36rem;
  font-size: 1.1rem;
}
main #approach article h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}
main #approach article p {
  margin-bottom: 0.8rem;
}
main #approach article p em {
  font-weight: 700;
}
main #approach article p a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
}
main #approach article p a:hover {
  text-decoration: underline;
}
main #approach article blockquote {
  color: #DDDDDD;
  border-left: 0.2rem solid #DDDDDD;
  padding-left: 0.5rem;
}

.hidden {
  display: none;
}

pre {
  max-height: 36rem;
}

.hideable {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.hideable.reveal {
  max-height: 20rem;
  transition: all 0.5s ease-in-out;
}

/* *** FOOTER *** */
footer {
  background-color: #ffffff;
  padding-bottom: 0;
  /* Main Footer */
}
footer .links {
  margin: 0;
  padding: 60px 0;
  height: auto;
  background-color: #242F60;
  background-image: url("../images/waves-bg.svg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 5% 15%;
  color: #ffffff;
  text-align: left;
  position: relative;
}
footer .links .inner {
  margin: 0 auto;
  position: relative;
}
footer .links ul {
  margin: 0;
  display: block;
}
footer .links ul li {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  background: none;
}
footer .links ul li a {
  color: #ffffff;
  transition: 0.2s;
  position: relative;
  top: 0;
}
footer .links ul li a:hover {
  text-decoration: none;
  top: -2px;
  /*color: #b3b3b3;*/
  color: #b3b3b3;
}
footer .links ul li a:visited {
  color: #ffffff;
}
footer .links .footer-links-list, footer .links .footer-info-list {
  margin-bottom: 20px;
}
footer .links .footer-links-list li::after, footer .links .footer-info-list li::after {
  content: "|";
  margin-left: 5px;
}
footer .links .footer-links-list li:last-child::after, footer .links .footer-info-list li:last-child::after {
  display: none;
}
footer .links::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
}
footer .logos {
  padding: 20px 0;
  background-color: #ffffff;
}
footer .logos .col {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer .logos .col img {
  /*float: right;*/
  max-width: 160px;
}
@media (min-width: 768px) {
  footer .logos .col img.erdf {
    margin-left: 48px;
  }
}

/*# sourceMappingURL=lilw-custom.css.map */
